.collection-card {
  overflow: hidden;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  min-width: 200px;
  min-height: 250px;
}
.collection-card img {
  height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.collection-card .title,
.collection-card .price {
  font-style: italic;
  font-weight: bold;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px
}
.actions button {
  border: none;
  padding: 9px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-wrap: nowrap;
}
